/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: rgb(124 45 18); /* Change the background color as needed */
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(124 45 18); /* Change the handle color as needed */
  }
  
  